<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
<div class="content">
{{#error}}
<div class"error">ERROR</div>
{{/error}}
<img src="../mario.jpg" alt="Super Mario high" class="logo" >
<h1>We the undersigned demand to legalize marijuana during the <span style="color: red">SPICED ACADEMY</span> program for a sake of better quality of code</h1>

 {{#each signersList}}
<h3><a target="_blank" href="{{url}}">{{firstname}} {{lastname}}</a> ({{age}}, <a href="/signers/city?city={{city}}">{{city}}</a>) </h3>
{{/each}}
</div>
<footer>{{> copyright}}</footer>
</body>
</html>
